:root {
    font: 1.3em cursive;
    background-color: darkcyan;
    color: aliceblue;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(2, 65, 65);
    border-radius: 1rem;
    padding: 20px;  
}

ul {
    padding-left: 0px;
    margin-top: 0px;
}

ul section {
    padding: 12px 0px;
    border-bottom: 1px solid rgb(0, 145, 145);
}

input[type='radio']:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    content: '';
    cursor: pointer;
    visibility: visible;
    border-radius: 10px;
    background-color: rgb(1, 36, 36);
    border: 2px solid rgb(0, 145, 145);    
}

input[type='radio']:checked:after {
    display: inline-block;
    width: 10px;
    height: 10px;
    content: '';
    cursor: pointer;
    visibility: visible;
    border-radius: 10px;
    background-color: rgb(0, 216, 216);
    border: 2px solid rgb(0, 145, 145);
}

ul section:hover {
    background-color: rgba(0, 145, 145, 0.445);
    color: aquamarine;
}

label {
    padding-left: 10px;
    cursor: pointer;
}